{% extends "base.html" %}

{% block content %}
<section id="character" class="body">
    <header>
        <h2 class="title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                    {{ article.title }}
                </a>
            </h2>
        {{ article.quote }}

    </header>
    
    <div class="entry-content">
    
        Species: {{ article.species }}
        <br>
        Gender: {{ article.gender }}
        <br>
        Sexuality: {{ article.sexuality }}
        <br>
        Personality: {{ article.personality }}
        
        <p>{{ article.content }}</p>
    
    </div>

</section>
{% endblock %}