{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}
<section id="character" class="body">
  <header>
    <h2 class="title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>

  </header>
    
  <div class="entry-content">
  {{ article.species }}
    <br>
    {{ article.personality }}
    <br>
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}