<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        
        {% assets filters="pyscss,cssmin", output="css/style.min.css", "css/style.scss" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        {% endblock head %}
        

</head>

<body>
        <header id="banner">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            {{ SITESUBTITLE }}
        </header>
        
        <nav id="menu"><ul>
            
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            
            <li class="dropdown">
                <a href="#" class="dropdown-title">View All</a>
                    <div class="dropdown-links">
                        {% for p in pages %}
                            <a href="{{ SITEURL }}/{{ p.url }}" {% if p == page %} class="active"{% endif %}>{{ p.title }}</a>
                        {% endfor %}
                    </div>
            </li>   
            
            
            <li class="dropdown">
                <a href="#" class="dropdown-title">Categories</a>
                    <div class="dropdown-links">
                        {% for cat, null in categories %}
                            <a href="{{ SITEURL }}/{{ cat.url }}" {% if cat == category %} class="active"{% endif %}>{{ cat }}</a>
                        {% endfor %}
                    </div>
            </li>    
            
        </ul></nav>
        
        <main>
        {% block content %}
        {% endblock %}
        </main>
        
        <footer id="footer-info">
            © 2016 Kazi Fodor | <a href="https://github.com/stokori/saussure/">GitHub Repo</a>
            <br>
            Powered by <a href="http://getpelican.com/">Pelican</a>.
        </footer>
</body>
</html>