<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        
        {% assets filters="pyscss,cssmin", output="css/style.min.css", "css/style.scss" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        {% endblock head %}
        

</head>

<body>
        <header id="banner">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                {{ SITESUBTITLE }}
        </header><!-- /#banner -->
        
        
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav><!-- /#menu -->
        
        {% block content %}
        {% endblock %}
        
        <footer id="info">
                <address>
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>