{% extends "base.html" %}

{% block content %}

<section id="index">

    {% block content_title %}
    {% endblock %}

    <ol class="character-list">
    {% for article in articles_page.object_list %}
            <li class="character">
                <article>
                
                        <div class="avatar"><img src="{{ SITEURL }}/images/avatars/{{ article.slug }}.png" width="100" height="100"></div>
                        <h2 class="character-name"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        <div class="character-description">{{ article.description }}</div>
                        <div class="character-category">{{ article.category }}</div>
                        
                </article>
            </li>
    {% endfor %}
    </ol><!-- /#posts-list -->

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
</section>



{% endblock content %}