@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

$body-font: 'Open Sans', sans-serif;
$header-font: 'Libre Baskerville', sans-serif;

$color-1: #bccad6;
$color-2: #8d9db6;
$color-3: #5a6d8c;
$color-4: #f1e3dd;

body {
    background-color: $color-1;
    font-family: $body-font;
}

h1, h2 {
    font-family: $header-font;
    color: $color-3;
}

a {
    text-decoration: none;
    color: $color-3;

    &:hover {
        color: $color-4;
    }
    
}

#banner {

    text-align: center;

}

#info {

    text-align: center;
    font-size: 0.8em;
    
}

#menu {

    ul {
        list-style-type: none;
        margin: 0px;
        margin-top: 10px;
        padding: 0;
        overflow: hidden;
        background-color: $color-2;
        text-align: center;
    }
    
    li a, .dropdown-title {
        display: inline-block;
        color: $color-4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropdown-title {
        background-color: $color-3;
    }

    li {

        display: inline-block;
    
        .dropdown {
            display: inline-block;
        }
    }

    .dropdown-links {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-links a {
        color: $color-3;
        padding: 12px 16px;
        display: block;
        text-align: left;
    }

    .dropdown-links a:hover {background-color: $color-4}

    .dropdown:hover .dropdown-links {
        display: block;
    }
    
}

#index {

    .character-list {
        list-style: none;
        padding-left: 0;
        
        /* clearfix*/
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        
    }

    .character {
        margin: 1%;
        display: inline-block;
        background-color: $color-2;
        text-align: center;
        padding: 10px;
        width: 20%;
        max-height: 300;
        float: left;
        
        .avatar {
                
                img {
                    max-width: 100%;
                }       
        }
        
        h2 {
            margin: 5px;
        }
    }
    
    
}